html
{
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 62.5%;

    background-color: #f2f3eb;
}

@media only screen and (min-width: 75em)
{
    .container
    {
        min-width: 66%;
    }
}

@media only screen and (max-width: 75em)
{
    html
    {
        font-size: 56.25%;
    }

    .container
    {
        min-width: 80%;
    }
}

@media only screen and (max-width: 56.25em)
{
    html
    {
        font-size: 50%;
    }
}

@media only screen and (max-width: 37.5em)
{
    html
    {
        font-size: 37.5%;
    }

    .form__input
    {
        font-size: 1.4rem;
    }

    .input__button
    {
        font-size: 2rem;

        padding: 1rem;
    }

    a.link
    {
        font-size: 1.8rem;
    }
}

body
{
    display: flex;
    flex-direction: column;

    height: 100vh;

    align-items: center;
    justify-content: center;
}

.container
{
    display: flex;
    flex-direction: column;

    max-height: 80vh;
    margin: 0 auto;
    margin-bottom: 10vh;

    border: solid 3px #474544;
}

.form
{
    padding: 3rem;

    text-align: center;
}

.container__header
{
    font-size: 3.2rem;
    font-weight: 800;

    margin: 3rem 0;

    text-align: center;
    letter-spacing: .7rem;
    text-transform: uppercase;

    color: #474544;
}

.form__input
{
    font-size: 1.6rem;
    font-weight: 400;

    box-sizing: border-box;
    width: 80%;
    margin-bottom: 2.5rem;
    padding-bottom: 2rem;

    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #474544;
    border: none;
    border-bottom: solid 2px #474544;
    background: none;
}

.form__input:focus
{
    outline: none;
}

.encrypt,
.encrypted
{
    display: block;

    text-align: center;
}

.form__button
{
    font-size: 1.6rem;
    font-weight: 800;

    display: inline-block;

    width: 74%;
    margin-bottom: 8rem;
    padding: 2rem 3.5rem;

    cursor: pointer;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #474544;
    border: solid 2px #474544;
    outline: none;
    background: none;
}

.form__button:hover
{
    color: #f2f3eb;
    background-color: #474544;
}

.form__input-box
{
    display: flex;
    flex-direction: row;

    margin: 2.5rem;

    justify-content: space-evenly;
}

.form__input--shift
{
    width: 50%;
}

.input__button
{
    font-family: 'Arial';
    font-weight: 500;
    line-height: 2.5rem;

    width: 25px;
    height: 2.5rem;

    user-select: none;

    border: solid 2px #474544;
}

.input__button:hover
{
    color: #f2f3eb;
    background-color: #474544;
}

.link
{
    font-size: 1.333rem;
    font-weight: 800;

    display: block;

    max-width: 76.8rem;
    margin: 0 auto;
    padding: 1.25rem 5rem;

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    color: #474544;
    border: solid 3px #474544;
}

.link:hover
{
    color: #f2f3eb;
    background-color: #474544;
}
